div {
  width: 500px;
  height: 500px;
  background: 
  radial-gradient(
    circle 125px,
    grey 100%,
    transparent
  ),
  linear-gradient(
    90deg,
    transparent 0 245px,
    white 246px 250px,
    transparent 251px
  ),
  linear-gradient(
    transparent 0 245px,
    white 246px 250px,
    transparent 251px
  ),
  conic-gradient(
    #7cbb00 0.25turn,
    #ffbb00 0.25turn 0.5turn,
    #00a1f1 0.5turn 0.75turn,
    #f65314 0.75turn
  )
}

/* div {
  width: 500px;
  height: 500px;
  background: 
  linear-gradient(
    90deg,
    transparent 0 245px,
    white 245px 250px,
    #7cbb00 250px 250px
  ),
  linear-gradient(
    #f65314 0 245px,
    transparent 245px 250px,
    #00a1f1 250px
  );
} */