:root {
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #eee;
  width: 600px;
  height: 525px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.img {
  position: absolute;
  top: 4.5%;
  left: calc(50% - 62px);
  z-index: 1;
}

.card {
  display: grid;
  background-color: white;
  width: 450px;
  height: 325px;
  margin-top: 15%;
  border-radius: 5px;
  position: relative;
}

.info {
  width: 100%;
  height: 40%;
  text-align: center;
}

#name {
  color: #3b74ba;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 40px;
  margin-bottom: 10px;
}

#job {
  color: #9e9e9e;
  font-size: 16px;
  margin-bottom: 20px;
}

hr {
  width: 85%;
  border: 0.5px solid #eee;
}

.bars {
  margin: -65px 7.5% 50px;
}

.bars div {
  height: calc(100% / 3);
  background-color: #f6f6f6;
  box-sizing: border-box;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  font-size: 14px;
  position: relative;
}

.rating {
  position: absolute;
  background-color: #3b74ba;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  bottom: -20px;
  right: 15px;
}

span {
  position: absolute;
  right: 15px;
}