body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #eee;
  padding: 20px 50px;
  width: 980px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.save {
  width: 80px;
  height: 20px;
  color: white;
  font-weight: bold;
  background-color: #2196f3;
  padding: 10px 25px 10px 15px;
  margin-bottom: 15px;
  position: relative;
}

.save::before {
  content: "";
  display: block;
  border-width: 20px;
  border-style: solid;
  border-color: transparent #eee transparent transparent;
  position: absolute;
  top: 0px;
  right: 0px;
}

.plans {
  display: grid;
  grid-template-columns: 480px 480px;
  column-gap: 20px;
}

.header {
  width: 450px;
  padding: 20px 15px;
  color: white;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.basic .header {
  background-color: #f44336;
}

.professional .header {
  background-color: #2196f3;
}

.generic {
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 20px 15px;
  font-size: 14px;
}

.check::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #009688;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.x-m::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  background-color: #e91e63;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.inquire::after {
  content: "?";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 23px;
  display: inline-block;
  color: white;
  font-weight: bold;
  background-color: #7e7e7e;
  position: relative;
  left: 180px;
}

.checkmark {
  position: relative;
}

.checkmark::before {
  content: "";
  width: 4px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  top: 36px;
  left: 20px;
  z-index: 1;
  rotate: 45deg;
  transform: scale(1.1);
}

.checkmark::after {
  content: "";
  width: 9px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  top: 34px;
  left: 21px;
  z-index: 1;
  rotate: -45deg;
  transform: scale(1.1);
}

.crossmark {
  position: relative;
}

.crossmark::before {
  content: "";
  width: 9px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  top: 34px;
  left: 20px;
  z-index: 1;
  rotate: -45deg;
  transform: scale(1.1);
}

.crossmark::after {
  content: "";
  width: 9px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  top: 34px;
  left: 20px;
  z-index: 1;
  rotate: 45deg;
  transform: scale(1.1);
}