:root {
  --colorOne: #2c6ccf;
  --colorTwo: #cf2c2c;
  --colorThree: #309e0e;
  --colorFour: #cd661a;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
}

.container div h3 {
  margin-bottom: 30px;
}

.container div :nth-child(2) {
  color: var(--colorOne);
}

.container div :nth-child(3) {
  color: var(--colorTwo);
}

.container div :nth-child(4) {
  color: var(--colorThree);
}

.container div :nth-child(5) {
  color: var(--colorFour);
}

.container div h3::after {
  content: "";
  width: 235px;
  height: 1.5px;
  display: block;
  margin-top: 10px;
  background-image: linear-gradient(to right, var(--colorOne) 50%, #cccccc 50%);
  transform: scaleY(1.1);
}

.container div :nth-child(3)::after {
  background-image: linear-gradient(to right, var(--colorTwo) 50%, #cccccc 50%);
}

.container div :nth-child(4)::after {
  background-image: linear-gradient(to right, var(--colorThree) 50%, #cccccc 50%);
}

.container div :nth-child(5)::after {
  background-image: linear-gradient(to right, var(--colorFour) 50%, #cccccc 50%);
}

.container .circle h3::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  margin-top: 26px;
  border-radius: 50%;
}

.container .square h3::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  margin-top: 26px;
}

.container div :nth-child(2)::before {
  background-color: var(--colorOne);
}

.container div :nth-child(3)::before {
  background-color: var(--colorTwo);
}

.container div :nth-child(4)::before {
  background-color: var(--colorThree);
}

.container div :nth-child(5)::before {
  background-color: var(--colorFour);
}

.container .tri-up h3::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent var(--colorOne) transparent;
  margin-top: 8px;
}

.container .tri-up :nth-child(3)::before {
  border-color: transparent transparent var(--colorTwo  ) transparent;
}

.container .tri-up :nth-child(4)::before {
  border-color: transparent transparent var(--colorThree) transparent;
}

.container .tri-up :nth-child(5)::before {
  border-color: transparent transparent var(--colorFour) transparent;
}

.container .tri-down h3::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-width: 12px;
  border-style: solid;
  border-color: var(--colorOne) transparent transparent transparent;
  margin-top: 33px;
}

.container .tri-down :nth-child(3)::before {
  border-color: var(--colorTwo) transparent transparent transparent;
}

.container .tri-down :nth-child(4)::before {
  border-color: var(--colorThree) transparent transparent transparent;
}

.container .tri-down :nth-child(5)::before {
  border-color: var(--colorFour) transparent transparent transparent;
}