body {
  font-family: Arial, Helvetica, sans-serif;
}

.turqoise {
  color: #009688;
  font-weight: bold;
}

.pink {
  color: #e91e63;
  font-weight: bold;
}

.container {
  width: 950px;
  display: grid;
  background-color: #eee;
  padding: 15px 25px;
}

.container div {
  background-color: white;
}

.profile {
  height: 270px;
  display: grid;
  grid-template-columns: 210px 1fr;
  position: relative;
  margin-bottom: 10px;
}

.image {
  height: 180px;
}

.image img {
  width: 150px;
  border-radius: 50%;
  position: absolute;
  margin-top: 15px;
  margin-left: 30px;
}

.image::before {
  content: "";
  position: absolute;
  width: 158px;
  height: 158px;
  background-color: #eee;
  border-radius: 50%;
  margin-top: 11px;
  margin-left: 26px;
}

.text-below {
  text-align: center;
}

.level {
  font-weight: bold;
  margin-bottom: 10px;
}

.bar::before {
  content: "";
  width: calc(100% - 20px);
  height: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: block;
  border-radius: 5px;
  background-image: linear-gradient(to right, #009688 75%, #eee 75%);
}

.nextLevel {
  font-size: 13px;
}

.r-col {
  border-left: 1px solid #eee;
  padding: 20px;
}

.r-col h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.r-col p:first-of-type {
  line-height: 35px;
}

.r-col p:nth-of-type(2) {
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin-bottom: 0px;
}

hr {
  width: 100%;
}

.points {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.title {
  padding: 10px;
  color: white;
  display: inline-block;
  background-color: #607d8b !important;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.points p {
  font-size: 13px;
}

.trophies {
  height: 210px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.trophies .imgs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  height: 150px;
}

.trophies .imgs img {
  width: 70px;
  height: 70px;
}

.ladder {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.ladder .news {
  margin-top: 5px;
}

.ladder span:first-child {
  color: red;
  font-weight: bold;
}

.ladder span:nth-child(2) {
  color: #2196F3;
  font-weight: bold;
}

.powers {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
}

.powers .title {
  margin-bottom: 25px;
}

.h-rule {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.green {
  color: green;
  font-weight: bold;
  position: absolute;
  right: 15px;
}

.red {
  color: red;
  font-weight: bold;
  position: absolute;
  right: 15px;
}