div {
  width: 900px;
  height: 500px;
  background: linear-gradient(90deg,white 0 465px, #343a40 465px);
  border-left: #343a40 solid 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

div::before {
  content: "";
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, #343a40 0 465px, white 465px);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

div::after {
  content: "";
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, #343a40 0 465px, white 465px);
  position: absolute;
  top: 0px;
  left: 0px;
}

img {
  width: 364px;
  height: 410px;
  position: absolute;
  bottom: 20px;
}